site_name: Chatbot Knowledge Base
site_description: Sample MkDocs KB for practice
site_url: https://oleksandr-ridkodub.github.io/test-web/

theme:
  name: material
  features:
    - navigation.sections
    - navigation.expand
    - search.suggest
    - search.highlight

plugins:
  - search

markdown_extensions:
  - admonition
  - toc:
      permalink: true

nav:
  - Integrations:
      - Azure: integrations/azure.md
      - GitHub: integrations/github.md
